# Tasa de fecundidad por pais

In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('./data/API_SP_DYN_TFRT_IN_DS2_es_csv_v2_3436218.csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,4.820000,4.655000,4.471000,4.271000,4.059000,3.842000,...,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,1.179000,NaN,NaN
1,NaN,AFE,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,6.724125,6.742752,6.762930,6.778712,6.788420,6.800322,...,4.677618,4.615670,4.570409,4.527705,4.482898,4.416900,4.354709,4.288788,NaN,NaN
2,Afganistán,AFG,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,...,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,4.523000,NaN,NaN
3,NaN,AFW,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,6.458448,6.471518,6.491826,6.506088,6.525355,6.541102,...,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,4.897322,NaN,NaN
4,Angola,AGO,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,...,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,5.209000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,6.359000,6.350000,6.331000,6.296000,6.126000,5.927000,...,1.751000,1.658000,1.649000,1.605000,1.546000,1.529000,1.522000,1.510000,NaN,NaN
262,"Yemen, Rep. del",YEM,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,7.938000,7.963000,7.963000,7.981000,8.038000,8.067000,...,4.322000,4.214000,4.112000,4.043000,3.963000,3.886000,3.795000,3.716000,NaN,NaN
263,Sudáfrica,ZAF,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,6.159000,6.138000,6.110000,6.077000,6.030000,5.967000,...,2.359000,2.261000,2.334000,2.418000,2.475000,2.401000,2.374000,2.341000,NaN,NaN
264,Zambia,ZMB,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,7.115000,7.169000,7.214000,7.249000,7.274000,7.291000,...,4.793000,4.707000,4.614000,4.536000,4.451000,4.379000,4.308000,4.242000,NaN,NaN
265,Zimbabwe,ZWE,"Tasa de fecundidad, total (nacimientos por mujer)",SP.DYN.TFRT.IN,7.220000,7.233000,7.255000,7.253000,7.261000,7.258000,...,3.849000,3.771000,3.706000,3.659000,3.599000,3.545000,3.491000,3.437000,NaN,NaN

In [19]:
df.describe

<bound method NDFrame.describe of         Country Name Country Code  \
0              Aruba          ABW
1                NaN          AFE
2         Afganistán          AFG
3                NaN          AFW
4             Angola          AGO
..               ...          ...
261           Kosovo          XKX
262  Yemen, Rep. del          YEM
263        Sudáfrica          ZAF
264           Zambia          ZMB
265         Zimbabwe          ZWE

                                        Indicator Name  Indicator Code  \
0    Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
1    Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
2    Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
3    Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
4    Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
..                                                 ...             ...
261  Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
262  Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
263  Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
264  Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN
265  Tasa de fecundidad, total (nacimientos por mujer)  SP.DYN.TFRT.IN

         1960      1961      1962      1963      1964      1965  ...  \
0    4.820000  4.655000  4.471000  4.271000  4.059000  3.842000  ...
1    6.724125  6.742752  6.762930  6.778712  6.788420  6.800322  ...
2    7.282000  7.284000  7.292000  7.302000  7.304000  7.305000  ...
3    6.458448  6.471518  6.491826  6.506088  6.525355  6.541102  ...
4    6.708000  6.790000  6.872000  6.954000  7.036000  7.116000  ...
..        ...       ...       ...       ...       ...       ...  ...
261  6.359000  6.350000  6.331000  6.296000  6.126000  5.927000  ...
262  7.938000  7.963000  7.963000  7.981000  8.038000  8.067000  ...
263  6.159000  6.138000  6.110000  6.077000  6.030000  5.967000  ...
264  7.115000  7.169000  7.214000  7.249000  7.274000  7.291000  ...
265  7.220000  7.233000  7.255000  7.253000  7.261000  7.258000  ...

         2015      2016      2017      2018      2019      2020      2021  \
0    1.972000  1.953000  1.839000  1.587000  1.486000  1.325000  1.180000
1    4.677618  4.615670  4.570409  4.527705  4.482898  4.416900  4.354709
2    5.405000  5.262000  5.129000  5.002000  4.870000  4.750000  4.643000
3    5.385059  5.328709  5.255345  5.186319  5.118932  5.049329  4.978662
4    5.774000  5.686000  5.600000  5.519000  5.442000  5.371000  5.304000
..        ...       ...       ...       ...       ...       ...       ...
261  1.751000  1.658000  1.649000  1.605000  1.546000  1.529000  1.522000
262  4.322000  4.214000  4.112000  4.043000  3.963000  3.886000  3.795000
263  2.359000  2.261000  2.334000  2.418000  2.475000  2.401000  2.374000
264  4.793000  4.707000  4.614000  4.536000  4.451000  4.379000  4.308000
265  3.849000  3.771000  3.706000  3.659000  3.599000  3.545000  3.491000

         2022  2023  Unnamed: 68
0    1.179000   NaN          NaN
1    4.288788   NaN          NaN
2    4.523000   NaN          NaN
3    4.897322   NaN          NaN
4    5.209000   NaN          NaN
..        ...   ...          ...
261  1.510000   NaN          NaN
262  3.716000   NaN          NaN
263  2.341000   NaN          NaN
264  4.242000   NaN          NaN
265  3.437000   NaN          NaN

[266 rows x 69 columns]>

In [13]:
df.size

18354

In [14]:
df.index

RangeIndex(start=0, stop=266, step=1)

In [17]:
df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2020              float64
2021              float64
2022              float64
2023              float64
Unnamed: 68       float64
Length: 69, dtype: object

In [20]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            253 non-null    float64
 5   1961            252 non-null    float64
 6   1962            253 non-null    float64
 7   1963            252 non-null    float64
 8   1964            253 non-null    float64
 9   1965            253 non-null    float64
 10  1966            253 non-null    float64
 11  1967            253 non-null    float64
 12  1968            253 non-null    float64
 13  1969            253 non-null    float64
 14  1970            254 non-null    float64
 15  1971            254 non-null    float64
 16  1972            254 non-null    float64
 17  1973            254 non-null    float64
 18  1974            254 non-null    float64
 19  1975            255 non-null    float64
 20  1976            256 non-null    float64
 21  1977            255 non-null    float64
 22  1978            255 non-null    float64
 23  1979            255 non-null    float64
 24  1980            255 non-null    float64
 25  1981            255 non-null    float64
 26  1982            256 non-null    float64
 27  1983            255 non-null    float64
 28  1984            255 non-null    float64
 29  1985            255 non-null    float64
 30  1986            255 non-null    float64
 31  1987            256 non-null    float64
 32  1988            255 non-null    float64
 33  1989            255 non-null    float64
 34  1990            257 non-null    float64
 35  1991            256 non-null    float64
 36  1992            257 non-null    float64
 37  1993            256 non-null    float64
 38  1994            256 non-null    float64
 39  1995            257 non-null    float64
 40  1996            256 non-null    float64
 41  1997            257 non-null    float64
 42  1998            257 non-null    float64
 43  1999            257 non-null    float64
 44  2000            259 non-null    float64
 45  2001            258 non-null    float64
 46  2002            258 non-null    float64
 47  2003            258 non-null    float64
 48  2004            258 non-null    float64
 49  2005            259 non-null    float64
 50  2006            259 non-null    float64
 51  2007            259 non-null    float64
 52  2008            259 non-null    float64
 53  2009            259 non-null    float64
 54  2010            259 non-null    float64
 55  2011            258 non-null    float64
 56  2012            260 non-null    float64
 57  2013            258 non-null    float64
 58  2014            258 non-null    float64
 59  2015            259 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            259 non-null    float64
 65  2021            258 non-null    float64
 66  2022            258 non-null    float64
 67  2023            0 non-null      float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB